/* optional CSS for game container */
#my-game {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    padding-bottom: 25%;
    float:left;
  }



body {
    background-color: #E0FFFF;
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #663399;
  }
  
  p {
    font-size: 1.25em;
  }