
.hub-container1 {
    background: url('../../images/YYCHubIntergrated.png') center center/contain no-repeat;
    /* background-size: cover; */
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    padding-bottom: 25%;
    float:left;
  

  }

  .hub-container1 >h1 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 100px;
    margin-top: -100px;
    flex:1;
    width: 50%;
    max-width: 50%;
   
    float:left
  }
  
  .hub-container1 > p {
    text-align: center;
    max-width: 1000px;
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  @media screen and (max-width: 960px) {
    .hub-container1 > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hub-container1 > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
}
  
    .hub-container1 > p {
      font-size: 30px;
    }



    .hub-container2 {
        height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: right;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        object-fit: contain;
        padding-bottom: 25%;
        float:right;
    }
      .hub-container2 > h1 {
        color: rgb(255, 255, 255);
        text-decoration: underline;
        text-decoration-color: black;
        font-size: 100px;
        padding-left: 5%;
        padding-right: 5%;
      }
      
      .hub-container2 > p {
        text-align: center;
        max-width: 1000px;
        margin-top: 8px;
        color: #fff;
        font-size: 32px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        padding-left: 5%;
        padding-right: 5%;
      }
    
      @media screen and (max-width: 960px) {
        .hub-container2 > h1 {
          font-size: 70px;
          margin-top: -150px;
        }
      }
      
      @media screen and (max-width: 768px) {
        .hub-container2 > h1 {
          font-size: 50px;
          margin-top: -100px;
        }
      
        .hub-container2 > p {
          font-size: 30px;
        }
}